<section class="user-section">
  <h2><%= "Name: #{@user.name}" %></h2>  <% if current_user != @user%> <span> <%= invitation(@user)%> </span>  <% end %>
  <article class="timeline">
    <h3>Recent posts: </h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
    <h3> Friendships: </h3>
    <ul>
      <% @friendships.each do |friend|%>
      <li>
        <%= friend.name%>
         <%if current_user == @user%>
        <%= link_to "Remove",user_friendship_remove_path(friend), method: :delete, class: 'profile-link'%>
        <% end %>
        </li>
        <% end %>
    </ul>
  </article>
</section>
